.features__bgd{
	background-color: $dark-light;
	padding: 5rem 0;
	height: 100%;
	text-align: center;
}
.features__item{
	padding-top:10px;
}
.features--graphic-content{
	//@include centerXY;
	width: 100%;
	height: 100%;
}
.features__container--icon{
	width: 80px;
	height: 80px;
	margin: 0 auto;

	& img[src="img/features-item-1.svg"]{
		width: 75%;
	}
	& img[src="img/features-item-2.svg"]{
		width: 85%;
	}
	& img[src="img/features-item-3.svg"]{
		width: 90%;
	}
}
.features__img{
	width: 100%;
}
#features__graphic__1{ 
	& img{
		width: 50% !important;
	}
}
#features__graphic__2{ 
	& img{
		width:  50% !important;
	}
}
#features__graphic__3{ 
	& img{
		width: 50% !important;
	}
}
.features__active::after{
	content: ' ';
	width: 30px;
	height: 100%;
	left: 165px;
	@include centerY;
	background-image: url('../img/flecha.svg');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 50%;
}
// #features__graphic__1, #features__graphic__3{
// 	display: none;
// }
#features{
	width: 100%;
}
.features__graphicCol{
	overflow: hidden;
}