.features__bgd{
	background-color: $dark-light;
	padding: 5rem 0;
	height: 100%;
	text-align: center;
}
.features__item{
	padding-top:30px;
	height: calc(33.3333% - (59.5px / 3));
}
.features--graphic-content{
	//@include centerXY;
	width: 100%;
	height: 100%;
}
.features__container--icon{
	margin: 0;
	width: 100%;
	height: 100%;

	& img[src="img/features-item-1.svg"]{
		width: 60px;
	}
	& img[src="img/features-item-2.svg"]{
		width: 65px;
	}
	& img[src="img/features-item-3.svg"]{
		width: 65px;
	}
}
.features__icon{
	margin-bottom: 10px;
}
.features__img{
	width: 100%;
}
#features__graphic__1{ 
	& img{
		width: 50% !important;
	}
}
#features__graphic__2{ 
	& img{
		width:  50% !important;
	}
}
#features__graphic__3{ 
	& img{
		width: 50% !important;
	}
}
#features__graphic__1, #features__graphic__2, #features__graphic__3{
	 & .valign-wrapper{
	 	height: 100%;
	 }
}

// #features__active1,#features__active2,#features__active3{
// 	height: 100%;
// 	text-align: right;
// }
.features__active {
	 	width: 30px;
		height: 30px;
	
	// left: 165px;
	// @include centerY;
	// background-image: url('../img/flecha.svg');
	// background-repeat: no-repeat;
	// background-size: 15px;
	// background-position: 50%;
}
#features{
	width: 100%;
	height: 100%;
}
.features__graphicCol{
	overflow: hidden;
}
.features__icon__col{
	height: calc(100% - 42px);
}