.menu--spacing{
	padding: 20px 0;
}
.menu__hamburguer{
	display: none;
}
.menu__main{
	padding-top: 20px;
	text-align: right;
	z-index: $zindex-navbar;
}
.menu__items{
	list-style: none;
}
.menu__items--each{
	font-weight: $r-regular;
	display:inline-block;
	position: relative;
	margin-left: 50px;
}
.menu__items--link{
	display:block;
}
.logo-flirt{
	width: 100px;
}

@media screen and (max-width: 800px) {
	.menu__hamburguer{
		display: block;
	}
	.menu--spacing{
		padding-left:5%;
		padding-right: 5%;
	}
	.menu__btn{
		display: block;
		text-align: right;
		text-decoration: none;
	}
	.md-36{
		font-size: 36px !important;
	}
	.menu__main{
		display: none;
	}
	.header__content{
		padding: 0 5%;
	}
}
