//   Fuentes:

$r-xlight: 200;
$r-light:300;
$r-regular: 400;
$r-sbold: 600;
$r-bold: 700;


//   Colores:

$white: #fff;
$black: #2E2E2E;
$aqua: #25F9C7;
$purple: #C300FF; 
$blue: #7230FF;
$dark-light: #4B5463;


//sizez

$icon-item: 80px;
$cta-sellsW: 310px;
$cta-sellsH: 63px;