
// bower:scss
@import "bootstrap";
// endbower
@import "variables";
@import "mixins";

@import "home";
@import "performance";
@import "benefits";
@import "features";
@import "testimonials";
@import "packages";
@import "footer";


@import "menu";
@import "headings";
@import "graphics";

html, body{
    height: 100%;
}
body{
  background-color:$dark-light;
}
.margin-b{
	margin-bottom: 50px;
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.valign {
  display: block;
}
